* {
    margin: 0;
    padding: 0;
}

#num {
    color: rgb(53, 196, 108)
}

#ruler-container {
    position: relative;
    overflow: hidden;
    width: 20rem;
    height: 5rem;
    border: 1px solid rgb(147, 184, 47);
}

#triangle {
    width: 0;
    height: 0;
    margin: 0 auto;
    z-index: 199;
    border-top: 1rem solid rgb(190, 98, 75);
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
}

#ruler ul {
    transform: translateX(10rem);
    width: 100rem;
    height: 4rem;
    position: relative;
}

#ruler ul li{
    width: 6.5rem;
    height: 100%;
    text-align: right;
    background: url(./ruler.png) top left no-repeat;
    background-size: 100px auto;
    float: left;
    list-style: none;
}

#ruler ul li span {
    position: relative;
    top:2rem;
    right: -0.3rem;
}